.color-options{
    position: absolute;
    background-color: var(--clr1);
    border-radius: 1em;
    bottom: 0;
    left: -5%;
    transform: translateY(60%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s;
    padding: 5px;
    z-index: 10;
}

.color-options.open{
    opacity: 1;
    pointer-events: auto;
}

.color-options > * {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-inline: 2px;
    cursor: pointer;
}

.color-options > *:hover{
    border: 3px solid var(--clr4);
}

.full-screen{
    inset: 0;
    position: fixed;
    /* pointer-events: none; */
}

.color-options.open .full-screen{
    pointer-events: auto;
}