.main-app .aside{
    flex-basis: 25%;
    font-family: nunito-bold;
}

.main-app .aside ul{
    display: flex;
    flex-direction: column;
}

.main-app .aside a{
    display: flex;
    min-height: 48px;
    min-width: 48px;
    width: 100%;
    align-items: center;
    width: 25%;
    overflow: hidden;
    width: 10px;
    margin-left: 10px;
    border-radius: 50%;
}

.main-app .aside a span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    font-size: 1.5rem;
    /* padding-inline-end: 20px; */
}

.main-app .aside .aside-txt{
    opacity: 0;
    display: none;
}

.open .main-app .aside .aside-txt{
    opacity: 1;
    display: block;
}

.open .main-app .aside a{
    width: 100%;
    border-radius: 0 2em 2em 0;
    margin-left: 0;
    padding-inline-start: 8px;
}

.main-app .aside a:not(.router-link-exact-active):hover{
    background-color: var(--secondary-clr2);
}

.main-app .aside .router-link-exact-active{
    background-color: var(--secondary-clr5);
}