.main-app .aside {
    flex-basis: 68px;
    font-family: nunito-bold;
    z-index: 10;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s;
}

.open .main-app .aside {
    max-height: 100%;
    overflow: auto;
}

@media (min-width:650px){
     .main-app .aside {
        flex-basis: 68px;
        z-index: auto;
        position: static;
        max-height: 100%;
        overflow: auto;
    }

    .open .main-app .aside{
        flex-basis: 268px;;
    }
}

.main-app .aside ul {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--clr2);
}

@media (min-width:650px){
    .main-app .aside ul {
        width: auto;
        background-color: transparent;
    }
    
}

.main-app .aside a {
    display: flex;
    min-height: 48px;
    min-width: 48px;
    width: 100%;
    align-items: center;
    width: 25%;
    overflow: hidden;
    border-radius: 50%;
}

@media (min-width:650px){
    .main-app .aside a{
        margin-left: 10px;
    }
}


.main-app .aside a span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    font-size: 1.5rem;
}

.main-app .aside .aside-txt {
    /* opacity: 0; */
    max-width: 0px;
    overflow: hidden;
    transition: opacity .6s, width .1s;
}

.open .main-app .aside .aside-txt {
    opacity: 1;
    min-width: 100%;
}

.open .main-app .aside a {
    width: 100%;
    border-radius: 0 2em 2em 0;
    padding-inline-start: 35px;
    justify-content: space-evenly;
    margin-left: 0;
    transition: width .3s;
}

@media (min-width:650px){
    .open .main-app .aside a {
        padding-inline-start: 43px;
    }
}

.open .main-app .aside a span {
    padding-inline-end: 20px;

}

.main-app .aside li:not(.IS-ACTIVATED) a:hover {
    background-color: var(--secondary-clr2);
}

.main-app .aside li.IS-ACTIVATED a {
    background-color: var(--secondary-clr5);
}