main .content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex-grow: 1;
    flex-basis: 70%;
    overflow-y: scroll;
    padding-bottom: 40px;
    background-color: var(--clr1);
}

.main-app{
    height: 90vh;
}