.mail-list-container{
    width: calc(100% - 268px);

}

.mail-list-table {
    width: 100%;
    border-radius: 15px;
    background: #fff;
}

.mail-list {
    width: 100%;
}

.mail-list-container {
    overflow-y: scroll;
    flex-grow: 1;
}

.list-item {
    cursor: pointer;
    line-height: 1.8em;
    width: 100%;
    background-color: var(--secondary-clr2);
}

.list-item a {
    height: 48px;
    display: grid;
    grid-template-columns: .1fr 1fr 1fr .7fr;
    align-items: center;
    width: 100%;
}
.list-item a tr{

    align-items: center;
    width: 100%;
}

.list-item button {
    border: none;
    border-radius: 50%;
    font-size: 16px;
    display: none;
    opacity: 0;
    transition: opacity .3s;
    background-color: transparent;
}

.list-item:hover button {
    display: inline;
    opacity: 100%;
}

.list-item:hover button:hover {
    background-color: var(--clr2);
}

.read {
    font-family: nunito-bold;
    background-color: #fff;
}