.checkbox, .starred{
    flex-basis: 42px;
}
.checkbox input{
    cursor: pointer;
}

.subject, .from{
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}
.sent-at{
    flex-grow: .5;
    flex-shrink: .5;
}