
@font-face {
    font-family: nunito-light;
    src: url(../../fonts/Nunito-Sans/NunitoSans-ExtraLight.ttf);
}

@font-face {
    font-family: nunito-regular;
    src: url(../../fonts/Nunito-Sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: nunito-bold;
    src: url(../../fonts/Nunito-Sans/NunitoSans-SemiBold.ttf);
}
