:root {
  --clr1: rgb(255, 255, 255);
  --clr2: rgb(240, 240, 240);
  --clr3: rgb(155, 155, 155);
  --clr4: rgb(96, 96, 96);
  --clr5: rgb(0, 0, 0);


  --secondary-clr1: #f6f8fc;
  --secondary-clr2: #eaf1fb;
  --secondary-clr3: #c2e7ff;
  --secondary-clr4: #d3e3fd;

} 